<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.agentbox.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>@HOME@/.local/bin/agentbox-server</string>
    <string>--config</string>
    <string>@HOME@/.agentbox/server.json</string>
  </array>
  <key>WorkingDirectory</key>
  <string>@HOME@</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>@HOME@/.agentbox/server.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>@HOME@/.agentbox/server.stderr.log</string>
</dict>
</plist>
